.cmp-search {}
.cmp-search__form {}
.cmp-search__field {}
.cmp-search__icon {}
.cmp-search__input {}
.cmp-search__loading-indicator {}
.cmp-search__clear {}
.cmp-search__clear-icon {}
.cmp-search__results {}
.cmp-search__item {}
.cmp-search__item--is-focused {}
.cmp-search__item-mark {}
.cmp-search__item-title {}

.border-left-black {
    border-left: 30px solid blue;
}
.border-left-black1 {
    border-left: 30px solid red;
}
.border-left-red {
    border-right: 30px solid blue;
}
.yellow-color{
    background-color: rgb(255 224 184);
}